
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://global.oktacdn.com/okta-signin-widget/3.5.0/js/okta-sign-in.min.js"
          type="text/javascript"></script>
  <link href="https://global.oktacdn.com/okta-signin-widget/3.5.0/css/okta-sign-in.min.css" type="text/css"
        rel="stylesheet"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://localhost:8080/style.css"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Okta Tech Exercise</title>
</head>

<body style="font-family: Montserrat" >

   <div id="widget_container"></div>

   <div id="weather_container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" id="ghost-input" placeholder="Enter a City" required>
          <input type="submit" id="ghost-button" value="Get Weather">
        </form>
          <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>

   <div id="message_box">
    <h3>Hi there! You aren't logged in</h3>
   </div>
   
  <div style="text-align:center">
     <input type="image" src="http://icons.iconarchive.com/icons/icons8/windows-8/32/User-Interface-Logout-icon.png" id="logout_button" onClick='logout()'/>
  </div> 


<script type="text/javascript">

// function callTestApi() {
//   //var accessToken = oktaSignIn.authtokenManager.get("accessToken");
//   var accessToken = oktaSignIn.authClient.authtokenManager.accessToken;

//   if (!accessToken) {
//     return;
//   }

//   // Make the request using jQuery
//   $.ajax({
//     url: 'http://localhost:3000/test',
//     headers: {
//       Authorization : 'Bearer ' + accessToken
//     },
//     success: function(response) {
//       // Received messages!
//       console.log('Messages', response);
//       res.render('test');
//     },
//     error: function(response) {
//       console.error(response);
//     }
//   });
// }


  var oktaSignIn = new OktaSignIn({
    baseUrl: 'https://dev-247908.okta.com',
    redirectUri: 'http://localhost:3000',
    clientId: '0oafc88caXF4KFOmU4x6',
    logo: 'http://icons.iconarchive.com/icons/icons8/windows-8/512/Weather-Partly-Cloudy-Day-icon.png',
    authParams: {
      pkce: true,
      //try adding access token?
      responseType: ['token', 'id_token']
    }
  });

  oktaSignIn.authClient.session.get().then(function (res) {

    if (res.status === 'ACTIVE') {

      oktaSignIn.authClient.token.getWithoutPrompt({
        scopes: ['openid', 'email', 'profile'],
      }).then((tokens) => {
        tokens.forEach(token => {
          if (token.idToken) {
            oktaSignIn.authClient.tokenManager.add('idToken', token);
            console.log('added token to tokenManager')
          }
          if (token.accessToken) {
            console.log('added accessToken to tokenManager')
            oktaSignIn.authClient.tokenManager.add('accessToken', token);
          }
        });

       // Say hello to the person who just signed in
        oktaSignIn.authClient.tokenManager.get('idToken').then(idToken => {
          console.log(`Hello, ${idToken.claims.name} (${idToken.claims.email})`);
          document.getElementById("message_box").innerHTML = `Hello, ${idToken.claims.name} (${idToken.claims.email})`
          document.getElementById("logout_button").show

          callTestApi();
       });
      
      }).catch(error => console.error(error));
      return;

   }

    document.getElementById("weather_container").style.display = 'none';
    document.getElementById("logout_button").style.display = 'none';

    // No session, show the login form
    oktaSignIn.renderEl(
      {el: '#widget_container'},
      function success(res) {
        // Nothing to do in this case, the widget will automatically redirect
        // the user to Okta for authentication, then back to this page if successful
      },
      function error(err) {
        // handle errors as needed
        console.error(err);
      }
    );
  });
      
    function logout() {

        oktaSignIn.authClient.signOut()
        window.location.reload(true);
      }

</script> 
</body>
</html>
