<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://global.oktacdn.com/okta-signin-widget/3.5.0/js/okta-sign-in.min.js"
          type="text/javascript"></script>
  <link href="https://global.oktacdn.com/okta-signin-widget/3.5.0/css/okta-sign-in.min.css" type="text/css"
        rel="stylesheet"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://localhost:8080/style.css"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Okta Tech Exercise</title>
</head>

<body style="font-family: Montserrat" >

<h1>this is just a test</h1>


</body>
</html>
