<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat">
  <link href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MY WEATHER APP</title>
</head>
    <body style="font-family: Montserrat" >
  
        <h1 style="text-align:center">This is the weather app!!</h1>
        <button onclick="window.location = '/local-logout'">LOGOUT</button>

    </body>
</html>
