body {
    background: url(https://orig13.deviantart.net/64e8/f/2010/230/0/6/skies_of_blue_by_naturedrop.jpg);
    width: 800px;
    margin: 0 auto;
}

#current-icon {
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    margin-left: 46%;
    margin-top: 3%;
}

#temperature-icon {
    width: 20px;
    height: 23px;
}

#logout_button {
 /* background-color: #f9f9f9;
 width: 100px;
 height: 20px; */
 position: absolute;
 top:0;
 right:0;
 margin-top: 20px;
 margin-right: 20px;
 
}

#message_box {
  padding-bottom: 10px;
  padding-top: 10px;
  /* border: 1px solid red; */
  font-size: 20px;
  width: 250px;
  /* display: inline-block; */
  position:absolute;
   top:0;
   right:0;
  /* padding-right: 30px; */
  text-align: center;
  background: #f9f9f9;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 60px;
}
  
#weather_container {
  padding-top: 150px;  
  margin: 0 auto;
  width: 400px;
    /* border: 1px solid red; */
  }
  fieldset {
    display: inline-block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    padding: 30px;
  }
  #ghost-input, p {
    display: inline-block;
    font-weight:300;
    width: 100%;
    font-size: 25px;
    border:0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #f9f9f9;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-radius: 20px;
    text-align: center;
  }
  #ghost-input:focus {
    border-bottom:1px solid #f9f9f9;
  }
  
  #ghost-button {
    display: inline-block;
    background-color: #f9f9f9;
    border:2px solid #f9f9f9;
    padding:10px 30px;
    width: 50px;
    border-radius: 10px;
    min-width: 350px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-radius: 20px;
  }
  #ghost-button:hover {
    border:2px solid #515151;
  }
  p {
    color: #000080;
  }